:root{
    --gray: #EAE9EB;
}
/*Header*/
.header {
    padding: 15px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}
.header ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.header a {
    font-size: large;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.icons img {
    width: 30px;
    height: 30px;
}
/*Form Container*/
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    max-width: 420px;
    margin: 40px auto;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
}
.login-container h2{
    text-align: center;
    margin-bottom: 35px;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-group p{
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-group input{
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.login-button{
    margin: 10px;
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 25px;
}
.divider{
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
}
.social-login button{
    margin: 10px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: white;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social-login button img{
    width: 20px;
    height: 20px;
}
.google-button:hover{
    background: lightgray;
}
.apple-button:hover{
    background: lightgray;
}
.signup-text{
    text-align: center;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
}
.signup-text a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.error {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #b00020;
   font-size: 13px;
   margin-top: 6px
}

.success {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0a7a3a;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
/* Footer*/
.footer {
    margin: 0px;
}

.footer .container {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: light;
}

.socials {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.socials img {
    width: 30px;
    padding-right: 10px;
}

.list ul {
    padding-left: 0px;
    align-items: flex-start;
    list-style: none;
}

.list ul li {
    padding-bottom: 10px;
}

.list ul a {
    text-decoration: none;
    color: black;
}

.copyright {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--gray);
    padding: 5px;
}